2018-02-01@00listaTODOSDeputados.json
2018-03-01@00listaTODOSDeputados.json
2018-04-01@00listaTODOSDeputados.json
2018-05-01@00listaTODOSDeputados.json
2018-06-01@00listaTODOSDeputados.json
2018-07-01@00listaTODOSDeputados.json
2018-08-01@00listaTODOSDeputados.json
2018-09-01@00listaTODOSDeputados.json
2018-10-01@00listaTODOSDeputados.json
2018-11-01@00listaTODOSDeputados.json
2018-12-01@00listaTODOSDeputados.json
2019-01-01@00listaTODOSDeputados.json
2019-02-01@00listaTODOSDeputados.json
2019-03-01@00listaTODOSDeputados.json
2019-04-01@00listaTODOSDeputados.json
2019-05-01@00listaTODOSDeputados.json
2019-06-01@00listaTODOSDeputados.json
2019-07-01@00listaTODOSDeputados.json
2019-08-01@00listaTODOSDeputados.json
2019-09-01@00listaTODOSDeputados.json
2019-10-01@00listaTODOSDeputados.json
2019-11-01@00listaTODOSDeputados.json
2019-12-01@00listaTODOSDeputados.json
.vscode/settings.json
py/JsonAnteriores/2017-01-01@00listaTODOSDeputados.json
py/JsonAnteriores/2017-02-01@00listaTODOSDeputados.json
py/JsonAnteriores/2017-03-01@00listaTODOSDeputados.json
py/JsonAnteriores/2017-04-01@00listaTODOSDeputados.json
py/JsonAnteriores/2017-05-01@00listaTODOSDeputados.json
py/JsonAnteriores/2017-06-01@00listaTODOSDeputados.json
py/JsonAnteriores/2017-07-01@00listaTODOSDeputados.json
py/JsonAnteriores/2017-08-01@00listaTODOSDeputados.json
py/JsonAnteriores/2017-09-01@00listaTODOSDeputados.json
py/JsonAnteriores/2017-10-01@00listaTODOSDeputados.json
py/JsonAnteriores/2017-11-01@00listaTODOSDeputados.json
py/JsonAnteriores/2017-12-01@00listaTODOSDeputados.json
py/JsonAnteriores/2018-01-01@00listaTODOSDeputados.json
2018-01-01@00listaTODOSDeputados.json
.mypy_cache/3.6/_ast.data.json
.mypy_cache/3.6/_ast.meta.json
.mypy_cache/3.6/_importlib_modulespec.data.json
.mypy_cache/3.6/_importlib_modulespec.meta.json
.mypy_cache/3.6/@plugins_snapshot.json
.mypy_cache/3.6/abc.data.json
.mypy_cache/3.6/abc.meta.json
.mypy_cache/3.6/ast.data.json
.mypy_cache/3.6/ast.meta.json
.mypy_cache/3.6/builtins.data.json
.mypy_cache/3.6/builtins.meta.json
.mypy_cache/3.6/codecs.data.json
.mypy_cache/3.6/codecs.meta.json
.mypy_cache/3.6/datetime.data.json
.mypy_cache/3.6/datetime.meta.json
.mypy_cache/3.6/enum.data.json
.mypy_cache/3.6/enum.meta.json
.mypy_cache/3.6/io.data.json
.mypy_cache/3.6/io.meta.json
.mypy_cache/3.6/list_ID-checkpoint.data.json
.mypy_cache/3.6/list_ID-checkpoint.meta.json
.mypy_cache/3.6/mmap.data.json
.mypy_cache/3.6/mmap.meta.json
.mypy_cache/3.6/posix.data.json
.mypy_cache/3.6/posix.meta.json
.mypy_cache/3.6/socket.data.json
.mypy_cache/3.6/socket.meta.json
.mypy_cache/3.6/ssl.data.json
.mypy_cache/3.6/ssl.meta.json
.mypy_cache/3.6/string.data.json
.mypy_cache/3.6/string.meta.json
.mypy_cache/3.6/sys.data.json
.mypy_cache/3.6/sys.meta.json
.mypy_cache/3.6/threading.data.json
.mypy_cache/3.6/threading.meta.json
.mypy_cache/3.6/time.data.json
.mypy_cache/3.6/time.meta.json
.mypy_cache/3.6/types.data.json
.mypy_cache/3.6/types.meta.json
.mypy_cache/3.6/typing_extensions.data.json
.mypy_cache/3.6/typing_extensions.meta.json
.mypy_cache/3.6/typing.data.json
.mypy_cache/3.6/typing.meta.json
.mypy_cache/3.6/collections/__init__.data.json
.mypy_cache/3.6/collections/__init__.meta.json
.mypy_cache/3.6/collections/abc.data.json
.mypy_cache/3.6/collections/abc.meta.json
.mypy_cache/3.6/email/__init__.data.json
.mypy_cache/3.6/email/__init__.meta.json
.mypy_cache/3.6/email/charset.data.json
.mypy_cache/3.6/email/charset.meta.json
.mypy_cache/3.6/email/contentmanager.data.json
.mypy_cache/3.6/email/contentmanager.meta.json
.mypy_cache/3.6/email/errors.data.json
.mypy_cache/3.6/email/errors.meta.json
.mypy_cache/3.6/email/header.data.json
.mypy_cache/3.6/email/header.meta.json
.mypy_cache/3.6/email/message.data.json
.mypy_cache/3.6/email/message.meta.json
.mypy_cache/3.6/email/policy.data.json
.mypy_cache/3.6/email/policy.meta.json
.mypy_cache/3.6/http/__init__.data.json
.mypy_cache/3.6/http/__init__.meta.json
.mypy_cache/3.6/http/client.data.json
.mypy_cache/3.6/http/client.meta.json
.mypy_cache/3.6/http/cookiejar.data.json
.mypy_cache/3.6/http/cookiejar.meta.json
.mypy_cache/3.6/importlib/__init__.data.json
.mypy_cache/3.6/importlib/__init__.meta.json
.mypy_cache/3.6/importlib/abc.data.json
.mypy_cache/3.6/importlib/abc.meta.json
.mypy_cache/3.6/json/__init__.data.json
.mypy_cache/3.6/json/__init__.meta.json
.mypy_cache/3.6/json/decoder.data.json
.mypy_cache/3.6/json/decoder.meta.json
.mypy_cache/3.6/json/encoder.data.json
.mypy_cache/3.6/json/encoder.meta.json
.mypy_cache/3.6/logging/__init__.data.json
.mypy_cache/3.6/logging/__init__.meta.json
.mypy_cache/3.6/os/__init__.data.json
.mypy_cache/3.6/os/__init__.meta.json
.mypy_cache/3.6/os/path.data.json
.mypy_cache/3.6/os/path.meta.json
.mypy_cache/3.6/requests/__init__.data.json
.mypy_cache/3.6/requests/__init__.meta.json
.mypy_cache/3.6/requests/adapters.data.json
.mypy_cache/3.6/requests/adapters.meta.json
.mypy_cache/3.6/requests/api.data.json
.mypy_cache/3.6/requests/api.meta.json
.mypy_cache/3.6/requests/auth.data.json
.mypy_cache/3.6/requests/auth.meta.json
.mypy_cache/3.6/requests/compat.data.json
.mypy_cache/3.6/requests/compat.meta.json
.mypy_cache/3.6/requests/cookies.data.json
.mypy_cache/3.6/requests/cookies.meta.json
.mypy_cache/3.6/requests/exceptions.data.json
.mypy_cache/3.6/requests/exceptions.meta.json
.mypy_cache/3.6/requests/hooks.data.json
.mypy_cache/3.6/requests/hooks.meta.json
.mypy_cache/3.6/requests/models.data.json
.mypy_cache/3.6/requests/models.meta.json
.mypy_cache/3.6/requests/sessions.data.json
.mypy_cache/3.6/requests/sessions.meta.json
.mypy_cache/3.6/requests/status_codes.data.json
.mypy_cache/3.6/requests/status_codes.meta.json
.mypy_cache/3.6/requests/structures.data.json
.mypy_cache/3.6/requests/structures.meta.json
.mypy_cache/3.6/requests/utils.data.json
.mypy_cache/3.6/requests/utils.meta.json
.mypy_cache/3.6/requests/packages/__init__.data.json
.mypy_cache/3.6/requests/packages/__init__.meta.json
.mypy_cache/3.6/requests/packages/urllib3/__init__.data.json
.mypy_cache/3.6/requests/packages/urllib3/__init__.meta.json
.mypy_cache/3.6/requests/packages/urllib3/_collections.data.json
.mypy_cache/3.6/requests/packages/urllib3/_collections.meta.json
.mypy_cache/3.6/requests/packages/urllib3/connection.data.json
.mypy_cache/3.6/requests/packages/urllib3/connection.meta.json
.mypy_cache/3.6/requests/packages/urllib3/connectionpool.data.json
.mypy_cache/3.6/requests/packages/urllib3/connectionpool.meta.json
.mypy_cache/3.6/requests/packages/urllib3/exceptions.data.json
.mypy_cache/3.6/requests/packages/urllib3/exceptions.meta.json
.mypy_cache/3.6/requests/packages/urllib3/fields.data.json
.mypy_cache/3.6/requests/packages/urllib3/fields.meta.json
.mypy_cache/3.6/requests/packages/urllib3/filepost.data.json
.mypy_cache/3.6/requests/packages/urllib3/filepost.meta.json
.mypy_cache/3.6/requests/packages/urllib3/poolmanager.data.json
.mypy_cache/3.6/requests/packages/urllib3/poolmanager.meta.json
.mypy_cache/3.6/requests/packages/urllib3/request.data.json
.mypy_cache/3.6/requests/packages/urllib3/request.meta.json
.mypy_cache/3.6/requests/packages/urllib3/response.data.json
.mypy_cache/3.6/requests/packages/urllib3/response.meta.json
.mypy_cache/3.6/requests/packages/urllib3/packages/__init__.data.json
.mypy_cache/3.6/requests/packages/urllib3/packages/__init__.meta.json
.mypy_cache/3.6/requests/packages/urllib3/packages/ssl_match_hostname/__init__.data.json
.mypy_cache/3.6/requests/packages/urllib3/packages/ssl_match_hostname/__init__.meta.json
.mypy_cache/3.6/requests/packages/urllib3/util/__init__.data.json
.mypy_cache/3.6/requests/packages/urllib3/util/__init__.meta.json
.mypy_cache/3.6/requests/packages/urllib3/util/connection.data.json
.mypy_cache/3.6/requests/packages/urllib3/util/connection.meta.json
.mypy_cache/3.6/requests/packages/urllib3/util/request.data.json
.mypy_cache/3.6/requests/packages/urllib3/util/request.meta.json
.mypy_cache/3.6/requests/packages/urllib3/util/response.data.json
.mypy_cache/3.6/requests/packages/urllib3/util/response.meta.json
.mypy_cache/3.6/requests/packages/urllib3/util/retry.data.json
.mypy_cache/3.6/requests/packages/urllib3/util/retry.meta.json
.mypy_cache/3.6/requests/packages/urllib3/util/ssl_.data.json
.mypy_cache/3.6/requests/packages/urllib3/util/ssl_.meta.json
.mypy_cache/3.6/requests/packages/urllib3/util/timeout.data.json
.mypy_cache/3.6/requests/packages/urllib3/util/timeout.meta.json
.mypy_cache/3.6/requests/packages/urllib3/util/url.data.json
.mypy_cache/3.6/requests/packages/urllib3/util/url.meta.json
.mypy_cache/3.6/urllib/__init__.data.json
.mypy_cache/3.6/urllib/__init__.meta.json
.mypy_cache/3.6/urllib/request.data.json
.mypy_cache/3.6/urllib/request.meta.json
.mypy_cache/3.6/urllib/response.data.json
.mypy_cache/3.6/urllib/response.meta.json
